body {
    font-family: 'Inter', sans-serif;
    background: #F3F5FC;
    color: #b9c6d9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
}
img{
    max-width: 40px;
    max-height: 50px;
    margin-left: 2%;
    margin-top: 1%;
}
::placeholder{
    color: #004999;
}

textarea {
    font-size:20px;
    width: 50%;
    height: 10%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0 none;
    resize: none;
    background-color: #F3F5FC;
}
textarea:focus, input:focus, select:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#input-text {
    margin-top: 5%;
    width: 60%;
    padding: 20px;
}

#output-text {
    padding: 20px;
    text-align: center;
    max-width: 220px;
    height: 65%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    position: absolute;
    left: 75%;
    top: 15%;
}

.buttons {
    display: flex;
    margin-left: 20%;
}

button {
    width: 160px;
    height: 40px;
    background-color: #0A3871;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
}
#decrypt-btn{
    background-color: #fff;
    color: #0A3871;
}
#decrypt-btn:hover{
    background-color: #0A3871;
    color: #fff;
}
button:hover {
    background-color: #fff;
    color: #0A3871;
}

#copy-btn {
    width: 80px;
    height: 40px;
    padding: 10px;
    margin: 0 10px;
    background-color: #FFFFFF;
    color: #0A3871;
    border: 1px solid #0A3871;
    position: absolute;
    left: 82.5%;
    top: 78%;
    border-radius: 24px;
}

#copy-btn:hover {
    background-color: #0A3871;
    color: #fff;
}

.info-paragraph {
    margin-left: 22.5%;
    margin-top: 20%;
    font-size: 14px;
    color: #888;

}
.footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.footer-text {
    font-size: 14px;
    color: #888;
}

.explanation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 851px;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .buttons-container {
        flex-direction: column;
    }

    .buttons-container button {
        margin-top: 10px;
    }
}